
footer{
    top: 320%;
}

article{
    position: absolute;
    height: 250%;
}

.buyButton{
    position: absolute;
    height: 3%;
    width: 5%;
    background: rgb(71, 38, 6);
    border: rgb(71, 38, 6);
    right: 10%;
}
.header_title{
    margin-left: 10vi;
    text-align: center;
}
.buyImg{
    height: 100%;
    width: 100%;
}
.about_description{
    top: 20vi;
    width: 20%;
    height: 20%;
    font-size: 2vi;
    margin: 20px;
}
