h1{
    left: 30% !important;
}

footer{
    top: 320%;
}

.modal{
    top: 10vb;
    right: 20vi;
    bottom: 10vb;
    left: 20vi;
    padding: 1vb;
}

.modal__title{
    position: relative;
    margin-left: 8vi;
}
.modal__another{
    position: relative;
    bottom: 45vb;
    left: 30vi;
}

#datepicker{
    position: relative;
    font-size: 12px;
}

.close{
    position: relative;
    top: 26vb;
    left: 48vi;
    background-color: rgb(160, 94, 151);
    border-color: rgb(160, 94, 151);
}

.buyButton{
    position: absolute;
    height: 3%;
    width: 5%;
    background: rgb(71, 38, 6);
    border: rgb(71, 38, 6);
    right: 10%;
}

.buyImg{
    height: 100%;
    width: 100%;
}