body{
    background: url(../img/fon.png) no-repeat;
    height: 100vi;
    width: 100vi;
    background-position: center center;
    -webkit-background-size:cover ;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    position: relative;
    width: 100vi;
    height: 30vb;
}

.header__logo{
    position:relative;
    left: 60vi;
    top: -15vi;
}

.header__title{
    font-family: Pussyfoot;
    src: url(pussyfoot\PUSSYFOO.TTF) format('TrueType');
    font-display: swap;
    position:relative;
    left: 30vi;
    top: 5vi;
    font-size: 7vi;
}

.header__menu{
    position: relative;
    top: -35vi;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vi;
}

a{
    text-decoration: none;
    padding-left: 12vi;
    color: black;
    font-weight: bold;
}

.header__custom-btn {
    width: 8vi;
    color: #494030;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-8 {
    background-color: #eee893;
  background-image: linear-gradient(315deg, #ebc792 0%, #ad9668 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-8 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-8:before,
  .btn-8:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #ebd597;
    transition: all 0.3s ease;
  }
  .btn-8:before{
     height: 0%;
     width: 2px;
  }
  .btn-8:after {
    width: 0%;
    height: 2px;
  }
  .btn-8:hover:before {
    height: 100%;
  }
  .btn-8:hover:after {
    width: 100%;
  }
  .btn-8:hover{
    background: transparent;
  }
  .btn-8 span:hover{
    color: #ebe397;
  }
  .btn-8 span:before,
  .btn-8 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #ebe397;
    transition: all 0.3s ease;
  }
  .btn-8 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-8 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-8 span:hover:before {
    height: 100%;
  }
  .btn-8 span:hover:after {
    width: 100%;
  }

.modal {
    z-index: 20000;
    background: rgba(221, 198, 198, 0.959); 
    position: fixed;
    top: 20vb;
    right: 30vi;
    bottom: 20vb;
    left: 30vi;
  
}
.content-hidden{
   display: none;
}
.modal__data{
    position: fixed;
    top: 30vb;
    left: 40vi;
}

.label{
    height: 30px;
}

.modal__submit{
    position: relative;
    top: 5vb;
    left: 6vi;
}
.modal__title {
    padding-left: 18vi;
    font-size: 1.25vi;
}
.modal__close{
    position: relative;
    top: 25vb;
    left: 15vi;
  }

.about{
    position:relative;
    top: 20vb;
    height: 100vh;
    width: 80vi;
    left: 10vi; 
    background: rgba(190, 175, 131, 0.836);
    padding-top: 3vb;
    padding-left: 3vi;
}

.contacts{
    position:relative;
    background: url(../img/down.jpg) no-repeat;
    padding-left: 5vi;
    padding-top: 3vb;
    width: 80vi;
    height: 60vb;
    top: 20vb;
    left: 12vi;
}

.comment{
    position: relative;
    top: 15vb;
    left: 12vi;
    width: 79vi;
}