body{
    background: url(../img/fon.png) no-repeat;
    height: 100vi;
    width: 100vi;
    background-position: center center;
    -webkit-background-size:cover ;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.header{
    position: relative;
    width: 100vi;
    height: 30vb;
}

#header {
  position: relative;
  width: 60%;
  margin-left: 25%;
}

.header__logo{
    position:relative;
    margin-left: 60%;
    top: -12vi;
    width: 15%;
}

.header__title{
    font-family: Pussyfoot;
    src: url(pussyfoot\PUSSYFOO.TTF) format('TrueType');
    font-display: swap;
    position:relative;
/*    left: 30vi; */
    top: 5vi;
    font-size: 7vi;
}

.header__menu{
    position: relative;
/*    top: -25vi; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vi;
}

a{
    text-decoration: none;
    padding-left: 12vi;
    color: black;
    font-weight: bold;
}

.header__custom-btn {
    width: 10%;
    color: #494030;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 10em;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
  }
  .btn-8 {
    background-color: #eee893;
  background-image: linear-gradient(315deg, #ebc792 0%, #ad9668 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-8:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 40px;
    width: 5px;
    position: absolute;
    top: 0px;
    left: -80px;
    transform: skewX(-45deg);
}
.btn-8:hover {
    background: #ca8acc;
    color: #fff !important;
}
.btn-8:hover:before {
    left: 100%;
    transition: .5s ease-in-out;
}
.btn-8:focus {
    background: #753c75;
    color: #fff !important;
    outline: none;
}
.modal {
    z-index: 20000;
    background: rgba(221, 198, 198, 0.959); 
    position: fixed;
    top: 20vb;
    right: 30vi;
    bottom: 20vb;
    left: 30vi;
  
}
.content-hidden{
   display: none;
}
.modal__data{
    position: fixed;
    top: 30vb;
    left: 40vi;
}

.label{
    height: 30px;
}

.modal__submit{
    position: relative;
    top: 5vb;
    left: 6vi;
}
.modal__title {
    padding-left: 18vi;
    font-size: 1.25vi;
}
.modal__close{
    position: relative;
    top: 25vb;
    left: 15vi;
  }

.about{
    position:relative;
    margin-top: 15%;
    height: 50%;
    width: 80%;
    margin-left: 10%; 
    background: rgba(190, 175, 131, 0.836);
    padding-top: 3vb;
    padding-left: 3vi;
}

.contacts{
    position:relative;
    background: url(../img/down.jpg) no-repeat;
    background-size: contain;
    padding-left: 5vi;
    padding-top: 3vb;
    width: 80%;
    height: 20%;
    margin-top: 5%;
    margin-left: 20%;
}

.comment{
    position: relative;
    top: 9.8vb;
    border: 2px solid rgb(141, 140, 140);
    left: 12vi;
    width: 79vi;
}