.header__title{
    left: 25vi;
    font-size: 6vi;
}

.header__logo{
    left: 70vi;
}


.about__description{
    top: 20vi;
    width: 40vi;
    height: auto;
}

.description2{
    padding-top: 2%;
    flex-direction: row;
    height: 30%;
}

