.header__title{
    margin-left: 5vi;
    font-size: 6vi;
}

.header__logo{
    left: 70vi;
}


.about__description{
    position: relative;
    top: 20vi;
    width: 80%;
    height: 30%;
}

.description{
    position: relative;
    width: 4vi;
}


.description2{
    padding-top: 2%;
    flex-direction: row;
    height: 30%;
}

