body{
    margin: 0px;
    background: url(img/fon.png) no-repeat;
    height: 100%;
    width: 100%;
    background-position: center center;
    -webkit-background-size:cover ;
    background-size: cover;
    background-attachment: fixed;
    position: rela;
}

form{
    position: relative;
    transform: translate(1%,1%);
}
.forget{
    padding-left: 1%;
}
.logo{
    position:absolute;
    left: 60%;
    top: 15%;

}
/*footer {
    margin-top: 80%;
    padding: 30px; /* Поля вокруг текста */
    /*color: #700e0e; /* Цвет текста */
    /*width: 100%; /* Ширина слоя */
/*}*/
    .cellar{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

    }
.tlogo{
    font-family: Pussyfoot;
    src: url(pussyfoot\PUSSYFOO.TTF) format('TrueType');
    font-display: swap;
    position:absolute;
    left: 30%;
    top: 15%;
    font-size: 600%;
} 
nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}
a{
    text-decoration: none;
    padding-left: 15%;
}
article{
    position:absolute;
    top: 50%;
    height: 100%; 
    width: 80%;
    left: 10%;
    padding-left: 15px; 
    background: rgba(182, 158, 93, 0.5);
}
footer{
    background-image: url(img\down.jpg);
    position:absolute;
    top: 150%;
    left: 0%;
    width: 100%;
    height: 50%;
}
address{
    position:absolute;
    top: 150%;
    left: 15%;
}