@media (max-width: 1529px){
    .modal{
        top: 20vb;
        right: 31vi;
        bottom: 25vb;
        left: 30vi;
    }
    .modal__close{
        left:15.7vi;
        top: -23.8vi;
    }
    .label input{
        padding: 30px 45px 15px;
    }
    .label span{
        top: -.1vi;
        padding: 20px 20px 10px;
        font-size: 1.4em;
    }
    .modal__submit{
        padding: 25px 40px;
        margin-left: 7vi;
    }
    nav .start-home,a:nth-child(1):hover~.animation{
        top: 1vi;
        width: 15vi;
        left: 11.8vi;
    }
    nav .start-team,a:nth-child(2):hover~.animation{
        top: 1vi;
        width: 23vi;
        left: 28.9vi;
    }
    nav .start-schedule,a:nth-child(3):hover~.animation{
        top: 1vi;
        width: 20vi;
        left: 53.9vi;
    }
    nav .start-cards,a:nth-child(4):hover~.animation{
        top: 1vi;
        width: 13vi;
        left: 75.8vi;
    }
    }
    @media (max-width: 1490px) {
        .modal__submit{
            padding: 30px 45px;
        }
        .modal__close{
            top: -24.8vi;
        }
        
    }