.header__title{
    position: relative;
    top: 3vi;
    left: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vi;
}
.about__timetable{
    position: relative;
    margin-top: 5vb;
    margin-left: -3vi;
}
.header__menu a{
    top: 0vi;
}