.avatar{
    position: relative;
    margin-top: 0vb;
    margin-left: 37vi;
    border-radius: 40px;
    text-align: center;    
}
.information{

    position: relative;
    margin-top: 0vb;
    margin-left: 0vi;
}
.data{

    position: relative;
    margin-top: 0vb;
    margin-left: 0vi;
}
.plan{
    position: relative;
    margin-top: 0vb;
    margin-left: 0vi;
    text-align: center;
    font-size: 250%;
}
.schedule{
    position: relative;
    margin-top: 5vb;
    margin-left: -3vi;
}
