.avatar{
    position: relative;
    margin-top: 0vb;
    margin-left: 37vi;
    border-radius: 40px;
    text-align: center;
    
}
.header__title{
    margin-top: -5vi;
}
.information{

    position: relative;
    margin-top: 0vb;
    margin-left: 0vi;

}
.about{
    top: -3.8vi;
}
.plan{
    position: relative;
    margin-top: 0vb;
    margin-left: 0vi;
    text-align: center;
    font-size: 250%;
}
.schedule{
    position: relative;
    margin-top: 5vb;
    margin-left: -3vi;
}
.btnadd{
    margin-top: 1vi;
    font-size: 1.6vi;
    padding: 20px 40px 10px 100px;
    outline: none;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    height: 2.8em;
    background: rgba(254, 226, 170, 0.702);
    display: flex;
    background-color: linear-gradient(to right,#353434 50%,#047b839f 50%);
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 4px #363636;
}
.btnadd .btn-text{
    letter-spacing: .05em;
    font-weight: bold;
    text-align: center;
}
.btnadd .btn-icons{
    margin-right: 1em;
    position: absolute;
    left: .3em;
    height: 1.4em;
    width: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(145, 80, 80);
    border-radius: 10px;
    transition: all .3s;
}
.btnadd .btn-icons i{
    width: 1.1em;
    transition: transform .3s;
    color: rgb(243, 219, 187);
    transform: translateX(.1em);
}
.btnadd:hover .btn-icons{
    width: calc(100% - .6em);
}
.date-of{
    margin-left: 13vi;
    margin-top: 1vi;
}
.date-hehe{
    margin-left: 2vi;
}
.help{
    font-size: 1.3vi;
    margin-top: -1vi;
    display: flex;
    justify-content: center;
}
.cont{
    margin-top: 2.6vi;
    margin-left: 15vi;
    font-size: 1vi;
    padding: 15px 10px 10px 10px;
    outline: none;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    height: 2.8em;
    background: rgba(254, 226, 170, 0.702);
    display: flex;
    background-color: linear-gradient(to right,#353434 50%,#047b839f 50%);
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 4px #363636;
}
.modal__another{
    z-index: 20000;
    background: rgba(211, 198, 169, 0.959); 
    position: fixed;
    border-radius: 20px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
     overflow: hidden;
     transition: all .9s ease-out; 
    top: 16vb;
    right: 30vi;
    bottom: 32vb;
    left: 30vi;
    padding: 1vb;
}
.close-offers{
    position: relative;
    left: 36vi;
    border: none;
    background: rgba(211, 198, 169, 0.959); 
    font-weight: bold;
    font-size: 1vi;
    cursor: pointer;
}