body{
    background: url(../img/fon.png) no-repeat;
    height: 100vi;
    width: 100vi;
    background-position: center center;
    -webkit-background-size:cover ;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.header{
    position: relative;
    width: 100vi;
    height: 30vb;
}
.leftcol{
    border-radius: 40px;
}
#header {
  position: relative;
  width: 60%;
  margin-left: 25%;
  margin-top: -3vi;
}
.header__logo{
    position:relative;
    margin-left: 55%;
    top: -12vi;
    width: 15%;
    height: 12vi;
}
.header__title{
    font-family: Pussyfoot;
    src: url(pussyfoot\PUSSYFOO.TTF) format('TrueType');
    font-display: swap;
    position:relative;
    top: 5vi;
    font-size: 7vi;
}
.header__menu{
    text-align: center;
    margin-left: -4vi;
    margin-top: -2vi;
}
.header__menu a{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vi;
    display: inline-block;
    color: #494030;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    margin-left: 3vi;
    padding: 27px 30px;
    border-radius: 60px;
    text-transform: uppercase;
    transition: color .1s linear;
    -webkit-transition: color .1s linear;
    -moz--transition: color .1s linear;
    -webkit-text-shadow: 4px -2px 4px rgba(0, 0, 0, 0.47);
-moz-text-shadow: 4px -2px 4px rgba(0, 0, 0, 0.47);
text-shadow: 4px -2px 4px rgba(129, 5, 5, 0.47);
}

.header__menu a:hover,
.header__menu a.active{
    color: #885512f5;
    background-color: #ddccb3;
    background: linear-gradient(360deg,transparent,#daad4c70);

}

.modal .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
    background: rgba(0,0,0,0.7);
    transition: opacity 500ms;
    height: 100%;
    z-index: 0;
}

.header__custom-btn {
    width: 10%;
    color: #494030;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 10em;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
  }
  .btn-8 {
    background-color: #eee893;
  background-image: linear-gradient(315deg, #ebc792 0%, #ad9668 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-8:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 40px;
    width: 5px;
    position: absolute;
    top: 0px;
    left: -80px;
    transform: skewX(-45deg);
}
.btn-8:hover {
    background: #dfab69;
    color: #fff !important;
}
.btn-8:hover:before {
    left: 100%;
    transition: .5s ease-in-out;
}
.btn-8:focus {
    background: #ac8a41;
    color: #fff !important;
    outline: none;
}
.modal {
    background: rgba(221, 186, 110, 0.959); 
    position: fixed;
    top: 20vb;
    right: 30vi;
    bottom: 20vb;
    left: 30vi;
    border-radius: 20px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
     overflow: hidden;
     transition: all .9s ease-out; 
     z-index: 100000;
}
.modal::before{
    content: '';
    position: absolute;
    top: -30%;
    left: -50%;
    width: 100%;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    rgb(187, 126, 13),rgb(233, 202, 146));
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.modal::after{
    content: '';
    position: absolute;
    top: -30%;
    left: -50%;
    width: 100%;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    rgb(233, 202, 146),rgb(187, 126, 13));
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 5px;
    border-radius: 20px;
    background: rgb(202, 177, 129);
    z-index: 10;
}
.content-hidden{
   display: none;
}
.modal__data{
    position: fixed;
    top: 29vb;
    left: 39vi;
}

.modal__submit{
    background: #ad9668;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 20px 25px;
    border-radius: 10px;
    width: 50%;
    margin-left: 5.2vi;
    margin-top: 2.7vi;
    font-weight: 700;
}

.label{
    position: relative;
    margin-top: 60px;
    width: 300px;
}
.label input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    letter-spacing: .05em;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
}
.label span{
    position: absolute;
    top: -0.5vi;
    padding: 20px 10px 10px;
    font-size: 1.25em;
    pointer-events: none;
    letter-spacing: .05em;
    transition: .5s;
}
.label input:valid~span,
.label input:focus~span{
    color: #664404;
    transform: translateY(-34px);
    font-size: 1em;
}
.modal__title {
    text-align: center;
    font-size: 2vi;
    font-weight: 900;
    letter-spacing: .1em;
}
.modal__close{
    position: relative;
    top: -21vi;
    left: 12vi;
    border: none;
    background:rgb(202, 177, 129);
    font-weight: bold;
    font-size: 1vi;
    cursor: pointer;
  }
  .modal__close:hover{
    color: rgb(124, 64, 7);
  }
.about{
    position:relative;
    margin-top: 7vi;
    width: 80%;
    margin-left: 7.9%; 
    background: rgba(190, 175, 131, 0.836);
    padding-top: 3vb;
    padding-left: 3vi;
    padding-bottom: 5vi;
}
.contacts{
    position:relative;
    background: url(../img/down.jpg) no-repeat;
    background-size: contain;
    padding-left: 5vi;
    padding-top: 3vb;
    width: 80%;
    height: 20%;
    margin-top: 3%;
    margin-left: 20%;
}
#disqus_thread{
    position: relative;
    top: 3vb;
    border: 2px solid rgb(189, 188, 188);
    left: 10vi;
    width: 79vi;
    padding: 13px;
    background-color: #f7f1d6;
}
.icons{
    display: inline-flex;
    margin-top: 3vi;
}
.icons .icon{
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: all .5s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.icons .icon span{
    position: relative;
    z-index: 2;
    height:60px;
    width: 60px;
    display: block;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    text-align: center;
}
.icons .icon:hover span{
    color: #fff;
}
.icons .icon span i{
    font-size: 25px;
    line-height: 60px;
}
.icons .icon .tooltip{
    position: absolute;
    top: 0px;
    font-size: 20px;
    color: #fff;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all .5s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.icons .icon:hover .tooltip{
    top: -49px;
    opacity: 1;
    pointer-events: auto;
}
.icons .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
.icons .icon:hover span,
.icons .icon:hover .tooltip
{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.icons .github:hover span,
.icons .github:hover .tooltip,
.icons .github:hover .tooltip:before{
    background: #333;
}
.icons .vk:hover span,
.icons .vk:hover .tooltip,
.icons .vk:hover .tooltip:before{
    background: #3d7ddf;
}
.icons .youtube:hover span,
.icons .youtube:hover .tooltip,
.icons .youtube:hover .tooltip:before{
    background:red;
}
.icons .telegram:hover span,
.icons .telegram:hover .tooltip,
.icons .telegramhover .tooltip:before{
    background:#0dc1fd;
    
}
.icon .yt{
    color: red;
    text-decoration: none;
}
.icon .viki{
    color: #3d7ddf;
    text-decoration: none;
}
.icon .tg{
    color: #0dc1fd;
    text-decoration: none;
}
.icon .git{
    color: black;
    text-decoration: none;
}
.inform{
    margin-top: -2vi;
    margin-left: -2vi;
}