body{
    overflow-x: hidden;
    height: 85vi;
}

.header__title{
    top: -.7vi;
    margin-left: 4vi ;
    font-size: 6vi;
}
.about{
    margin-top: 2vi;
}
.gif{
    position: relative;
    display: inline-block;
}
.wrapper{
        position: absolute;
        margin-top: -30vi;
        margin-left: 30vi;
        height: 30vi;
}
.cls-1{
    fill: #1d1d5f;
    stroke: none;
    stroke-width: 10px;
    font-size: 208px;
    font-family: Gabriola;
    stroke-dasharray: 2000;
    animation-iteration-count: 1;
    animation: csvg 5s
    linear infinite;
}
@keyframes csvg{
    0%{
        stroke: #f18383;
        stroke-width: 10px;
        opacity:0;
        fill: none;
        stroke-dasharray: 0;
    }
    30%{
        stroke: #f18383;
        stroke-width: 10px;
        opacity: 10;
        fill: none;
    }
    80%{
        stroke: #f18383;
        stroke-width: 2px;
        opacity: 10;
        fill: rgba(102, 90, 102, 0);
    }
    100%{
        opacity: 10;
        fill:  #68092d;
        stroke-dasharray: 2000;
        outline: none;
        stroke: none;
    }
}
.catvsfish{
    margin-left: 50vi;
    margin-bottom: 13vi;
}
.about__description{
    top: 20vi;
    width: 20%;
    height: 20%;
    font-size: 1.2vi;
    display: inline-block;
    margin: 20px;
}
.about-team{

        position:relative;
        margin-top: 7vi;
        width: 80%;
        margin-left: 7.9%; 
        background: rgba(190, 175, 131, 0.836);
        padding-top: 3vb;
        padding-left: 3vi;    
}
.content-title{
    margin-top: -1.4vi;
    display: block;
    padding: 30px 30px;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    margin-left: -3vi;
    transition: background-color .3s ease-out;
}
.content-title:hover{
    background-color: rgb(173, 140, 78);
}
.content-title::after{
    content: "";
    display: block;
    position: absolute;
    right: 15px;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: black
    transparent transparent
    transparent;
    transform: translateY(-50%);

}
.img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 30px;
    filter: drop-shadow(10px 10px rgb(102, 90, 102));
}
.contacts{
    margin-top: auto;
    background-size: cover;
    width: 56%;
    height: 23%;
}


