.header__title{
    position: relative;
    left: 5vi;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vi;
}
#header{
    top: 6vi;
}
.block1{
    margin-top: 6.8vi;
}
.about__timetable{
    position: relative;
    margin-top: 5vb;
    margin-left: -3vi;
}
.modal__close1{
    position: relative;
    top: -13vi;
    left: 12vi;
    border: none;
    background:rgb(202, 177, 129);
    font-weight: bold;
    font-size: 1vi;
    cursor: pointer;
}
.buy{
    margin-top: 1vi;
    font-size: .8vi;
    padding: 10px 10px 8px 5px;
    outline: none;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    height: 2.8em;
    background: rgba(254, 226, 170, 0.702);
    display: flex;
    background-color: linear-gradient(to right,#353434 50%,#047b839f 50%);
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 4px #363636;
}
.buy span{
    letter-spacing: .05em;
    font-weight: bold;
    text-align: center;
}