.header__title{
    position: relative;
    left: 5vi;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vi;
}
#header{
    top: 6vi;
}
.block1{
    margin-top: 6.8vi;
}
.about__timetable{
    position: relative;
    margin-top: 5vb;
    margin-left: -3vi;
}
.modal__close1{
    position: relative;
    top: -13vi;
    left: 12vi;
    border: none;
    background:rgb(202, 177, 129);
    font-weight: bold;
    font-size: 1vi;
    cursor: pointer;
}
