<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CAT FIT</title>
    <link rel="apple-touch-icon" sizes="180x180" href="img/minilogo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
    <link rel="manifest" sizes="32x32" href="img/minilogo.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cards.css">
    <link rel="stylesheet" href="css/team.css">

    <link rel="stylesheet" href="air-datepicker/air-datepicker.css">

    <script src="https://kit.fontawesome.com/e33ee0e3a9.js" crossorigin="anonymous"></script>

</head>
<body>
    <audio autoplay loop>
        <source src="sounds/Loris Buono & Alexander Cruel - It's A Game [FREE DOWNLOAD].mp3">
    </audio>
    <div class="header">
        <button class="header__custom-btn btn-8" data-modal_butt="modal1" type="submit">Войти в ЛК</button>
            <%- include('./partials/nav.ejs') %>
        <div id="header">
            <h1 class="header__title">Наши предложения</h1>
        </div>
    </div>    
        <div class="block">
        <article class="about">
            <div class="content">
                <div data-name="bayan">
                    <h2 class="content-title">Абонементы в тренажерный зал</h2>
                </div>
                <div class="content-hidden">
                    <div class="about_description">
                        <h3>На год</h3>
                        <img class="img" src="img/month.jpg">
                        <p>Стоимость абонемента:60 000 <i class="fa-solid fa-ruble-sign"></i></p>
                        
                        <button data-modal_butt="buyBut1" class="buyButton"><img class="buyImg" src="img/buy.png"> </button>
                    </div>
        
                    <div class="about_description">
                        <h3>На полгода</h3>
                        <img class="img" src="img/6month.jpg">
                        <p>Стоимость абонемента:30 000 <i class="fa-solid fa-ruble-sign"></i></p>
                        
                        <button data-modal_butt="buyBut2" class="buyButton"><img class="buyImg" src="img/buy.png"> </button>
                    </div>
        
                    <div class="about_description">
                        <h3>На месяц</h3>
                        <img class="img" src="img/year.jpg">
                        <p>Стоимость абонемента:10 000 <i class="fa-solid fa-ruble-sign"></i></p>
                        
                        <button data-modal_butt="buyBut3" class="buyButton"><img class="buyImg" src="img/buy.png"> </button>
                    </div>
                    
                </div>
            </div>
            <div class="content">
                <div data-name="bayan">
                    <h2 class="content-title">Дополнительные предложения</h2>
                </div>
                <div class="content-hidden">
                    <div class="about_description">
                        <h3>Индивидуальные тренировки</h3>
                        <img class="img" src="img/yoga.jpg">
                        
                    </div>
        
                    <div class="about_description">
                        <h3>Фитнес-тест</h3>
                        <img class="img" src="img/FT.jpg">
                        
                    </div>
                    
                </div>
        
            </div>                  

        </article>
    </div>
            <div class="gif">
                <img class="catvsbutterfly" src="img/circle.gif" alt="">
                
            </div>
            <div class="wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="700" height="100" viewBox="0 0 1300 399">
                    <text data-name="Nihil Babu" id="id" class="cls-1" transform="translate(0 271)">
                        <tspan x="0" y="0">Вы так же можете </tspan>
                    </text>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="700" height="100" viewBox="0 0 1300 399">
                    <text data-name="Nihil Babu" id="id" class="cls-1" transform="translate(0 271)">
                        <tspan x="0" y="0">обратиться к консультанту</tspan>
                    </text>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="700" height="100" viewBox="0 0 1300 399">
                    <text data-name="Nihil Babu" id="id" class="cls-1" transform="translate(0 271)">
                        <tspan x="0" y="0">Если у вас остались  вопросы</tspan>
                    </text>
                </svg>
            </div>
    <div class="contacts">
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </div>
    <div data-modal="modal0" class="modal content-hidden">
        <form class="form" method="post">
            <h3 class="modal__title">Вход</h3>
            <div class="modal__data">
                <div class="label">
                    <input id="log" type="login" required="required" name="login" autocomplete="on"/>
                    <span>Номер телефона</span>
                </div>
                <div class="label">
                    <input id="pas" type="password" required="required" name="password"/>
                    <span>Пароль</span>
                </div>
                <input type="submit" class="modal__submit" onclick="lk()" value="Продолжить">
                <input type="button" data-modal_butt="modal2" class="modal__close" value="X">
            </div>
        </form>
        <div class="overlay"></div>            
</div>
<div data-modal="modalBuy" class="modal1 content-hidden">
    <form method="post" class="order">
        <button data-modal_butt="closeBut" type = "reset" class="modal__close1">X</button>
    <h3 class="modal__title">Оформление</h3>
    <div class="reg">
        <div class="pole required"><input type="text" name="name" autocomplete="on" placeholder="Введите имя" pattern="[A-Za-zА-Яа-яЁё]"/></div>
<div class="pole required"><input type="text" name="surname" autocomplete="on" placeholder="Введите фамилию" pattern="[A-Za-zА-Яа-яЁё]"/></div>
<div class="pole required"><input type="login" name="telephone" minlength="11" autocomplete="on" placeholder="Введите номер телефона" pattern="[0-9]+11"/></div>
<div class="pole required"><input type="password" name="password" minlength="6" placeholder="Придумайте пароль"/></div>
<div class="pole required">
<label for="date" name="firstDate" >Дата начала посещения</label>
<div class="date">
    <input type="date" name="date" id="start-date">
    <br><label id="end-date"></label>
</div>

</div>
<ul><input type="checkbox" name="cbox" style="cursor: pointer;">Нужна консультация?<Br></ul>
<ul><input type="checkbox" name="cbox" style="cursor: pointer;">Фитнес-тест<Br></ul>
<div class="knop">
<p class="anketa">Заполняя анкету,вы автоматически <br> даёте согласие на обработку персональных данных</p>
<button class="cont" type="submit"><a href="/pay">Продолжить</a></button>
</div>

    </div>
    
   
</form>
<div class="overlay"></div> 
</div> 
    <script src="scripts/main.js"></script>
    <script src="scripts/team.js"></script>
    <script src="scripts/cards.js"></script>
    <script src="air-datepicker/air-datepicker.js"></script>
    <script src="scripts/datepicker.js"></script>
</body>
</html>