<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CAT FIT</title>
    <link rel="apple-touch-icon" sizes="180x180" href="img/minilogo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cards.css">
    <link rel="stylesheet" href="css/team.css">
    <link rel="stylesheet" href="css/adap.css">

    <script src="https://kit.fontawesome.com/e33ee0e3a9.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="header">
            <%- include('./partials/nav.ejs') %>
        <div id="header">
            <h1 class="header__title">Наши предложения</h1>
        </div>
    </div>
    <div data-modal="modal0" class="modal content-hidden">
        <form class="form" method="post" action="/user/login">
            <h3 class="modal__title">Вход</h3>
            <div class="modal__data">
                <div class="label">
                    <input id="tel" type="tel" required="required" name="telephone" autocomplete="on"/>
                    <span>Номер телефона</span>
                </div>
                <div class="label">
                    <input id="pas" type="password" required="required" name="password"/>
                    <span>Пароль</span>
                </div>
                <input type="submit" class="modal__submit" onclick="lk()" value="Продолжить">
                <input type="button" data-modal_butt="modal2" class="modal__close" value="X">
            </div>
        </form>
        <div class="overlay"></div>            
</div>

<div data-modal="modalBuy" class="modal1 content-hidden">
    <form method="post" name="orderForm" onsubmit="return validateForm()" action="/user/registration" class="order">
        <button data-modal_butt="closeBut" type = "reset" class="modal__close1">X</button>
    <h3 class="modal__title">Оформление</h3>
    <div class="reg">
        <div class="pole"><input id="name" type="text" name="name" autocomplete="on" placeholder="Введите имя"/></div>
        <div class="pole"><input id="surname" type="text" name="surname" autocomplete="on" placeholder="Введите фамилию"/></div>
        <div class="pole"><input id="tel" type="tel" name="telephone" minlength="11" maxlength="11" autocomplete="on" placeholder="Введите номер телефона"/></div>
        <div class="pole"><input type="password" name="password" minlength="6" placeholder="Придумайте пароль"/></div>
        <div class="pole"> <label> Баланс карты: <input type="text" class="bal" name="balance" id="balance" readonly /> </label> </div>
        <div class="pole">         
            <div class="date">
                <label for="date">Дата начала посещения</label>
                <p><input type="date" name="firstdate" id="start-date"></p>
                <label for="date">Дата окончания посещения</label>
                <p><input name="lastdate" id="end-date" readonly></p>            
            </div>
        </div>
<ul><input type="checkbox" name="cbox" style="cursor: pointer;">Нужна консультация?<Br></ul>
<ul><input type="checkbox" name="cbox" style="cursor: pointer;">Фитнес-тест<Br></ul>
<div class="knop">
<p class="anketa">Заполняя анкету,вы автоматически <br> даёте согласие на обработку персональных данных</p>
<button class="cont" type="submit">Продолжить</button>
</div>
    </div>   
   
</form>
<div class="overlay"></div> 
</div>     
        <article class="about">
            <div class="content">
                    <h2>Абонементы в тренажерный зал</h2>
                    <div class="about_description">
                        <h3>На год</h3>
                        <div class="text-description">
                            <h4><i class="fa-solid fa-spa"></i> Диеты</h4>
                            <div class="inside-text">
                                Правильное питание и занятия спортом признаны залогом успеха над лишним весом. Но помогает такой подход не всегда, а именно в случае, если в области живота и боков образовался жир. Эти места самые проблемные и трудно поддаются коррекции. Чтобы убрать живот, уменьшить объемы боков, необходимо соблюдать специальную диету. Рацион позволяет питаться, почти не ограничивая себя, и при этом укрепить здоровье.
                            </div>
                            <h4><i class="fa-regular fa-square-plus"></i> Преимущества:</h4>
                            <div class="inside-text">Рекомендации по питанию и инструктаж по использованию спортивного оборудования</div>
                            <h4><i class="fa-solid fa-heart"></i> Возможности карты:</h4>
                            <div class="inside-text">
                                Доступ во все зоны клуба
                            </div>
                        </div>
                        <div class="text-about">
                            <img class="img" src="img/month.jpg">
                        <h4 class="validity">
                            Срок действия карты: 365 дней
                        </h4>
                        <p class="price">Стоимость абонемента:60 000 <i class="fa-solid fa-ruble-sign fa-sm"></i></p>
                        <button data-modal_butt="buyBut1" class="buyButton">
                            <img class="buyImg" src="img/buy.png"> 
                            <span>Купить</span>
                        </button>
                        </div>
                        
                    </div>
        
                    <div class="about_description">
                        <div class="time">
                            <h3>На полгода</h3>
                            <div class="text-description">
                                <h4><i class="fa-solid fa-spa"></i> Диеты</h4>
                                <div class="inside-text">
                                    Проблема лишнего веса является злободневной для многих, но решить ее можно лишь путем объединения физических упражнений с диетическим питанием. Если вы всерьез решили заняться своим телом, похудеть и к тому же создать красивый мышечный рельеф, вам нужно испробовать белковую диету. Она является одной из самых эффективных, и голодать при этом не придется. Скорее, наоборот! Питание будет довольно сытным.
                                </div>
                                <h4><i class="fa-regular fa-square-plus"></i> Преимущества:</h4>
                                <div class="inside-text">Рекомендации по питанию и инструктаж по использованию спортивного оборудования</div>
                                <h4><i class="fa-solid fa-heart"></i> Возможности карты:</h4>
                                <div class="inside-text">
                                    Доступ во все зоны клуба
                                </div>
                            </div>
                        <div class="text-about">
                            <img class="img" src="img/6month.jpg">
                            <h4 class="validity">
                                Срок действия карты: 181 дней
                            </h4>
                            <p>Стоимость абонемента:30 000 <i class="fa-solid fa-ruble-sign fa-sm"></i></p>
                            <div class="btn2">
                                <button data-modal_butt="buyBut2" class="buyButton">
                                    <img class="buyImg" src="img/buy.png"> 
                                    <span>Купить</span>
                                </button>
                            </div>                            
                        </div>
                        </div>
                    </div>
                    <div class="about_description">
                        <div class="time">
                            <h3>На месяц</h3>
                            <div class="text-description">
                                <h4><i class="fa-solid fa-spa"></i> Диеты</h4>
                                <div class="inside-text">
                                    Кетогенная диета была разработана для терапии и профилактики некоторых заболеваний, но она оказалась такой результативной в борьбе с лишним весом, что быстро получила широкое распространение как один из эффективных методов похудения. Теперь ее используют спортсмены и голливудские звезды. Она входит в группу низкоуглеводных диет, то есть в ее составе содержится минимальное количество сахаридов, но много жиров и белков.
                                </div>
                                <h4><i class="fa-regular fa-square-plus"></i> Преимущества:</h4>
                                <div class="inside-text">Рекомендации по питанию и инструктаж по использованию спортивного оборудования</div>
                                <h4><i class="fa-solid fa-heart"></i> Возможности карты:</h4>
                                <div class="inside-text">
                                    Доступ во все зоны клуба
                                </div>
                            </div>
                        <div class="text-about">
                            <img class="img" src="img/year.jpg">
                        <h4 class="validity">
                            Срок действия карты: 30 дней
                        </h4>
                        <p>Стоимость абонемента:10 000 <i class="fa-solid fa-ruble-sign fa-sm"></i></p>
                        <div class="btn2">
                            <button data-modal_butt="buyBut3" class="buyButton">
                                <div class="btn-icons">
                                    <img class="buyImg" src="img/buy.png"> 
                                </div>
                                <span>Купить</span>
                            </button>
                        </div> 
                        </div>
                        </div>
                        
                    </div>
                    
            </div>

        </article>
    <div class="contacts">
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </div>
    
    <script src="scripts/main.js"></script>
    <script src="scripts/team.js"></script>
    <script src="scripts/cards.js"></script>
</body>
</html>