<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="img/minilogo.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
        <link rel="manifest" sizes="32x32" href="img/minilogo.png">
        <title> CAT FIT</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/adap.css">

        <script src="https://kit.fontawesome.com/e33ee0e3a9.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
        <script type="text/javascript">
            VK.init({apiId: 51562792, onlyWidgets: true});
        </script>
    </head>

    <body>
        <audio autoplay loop>
            <source src="sounds/Loris Buono & Alexander Cruel - It's A Game [FREE DOWNLOAD].mp3">
        </audio>
            <div class="header">
                <button class="header__custom-btn btn-8" data-modal_butt="modal1" type="submit">Войти в ЛК</button>
                <%- include('./partials/nav.ejs') %>
                <div id="header">
                    <h1 class="header__title">CAT FIT</h1>
                    <img  class = "header__logo" src="img\fullcat.webp" >
                </div>
            </div>
               <div class="block">    
            <article class="about">
                    <h2>О клубе</h2>
                   
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr> 
                         <td><img  class="leftcol" src="img/TZ.jpg" width="300" height="400">
                         </td>
                         <td valign="top">
                            <h1>Тренажерный зал</h1>
                            Каждая тренировка - возможность стать намного лучше, сделать шаг навстречу новому себе: здоровому, 
                            сильному, уверенному. Фитнес может стать яркой частью вашей жизни, придать силы, укрепить суставы и мышцы,
                             восстановить нервную систему, подарить много новых впечатлений. 
                            Будет это медитативная йога, регулярные силовые тренировки, оздоровительные занятия в бассейне или 
                            танцевальные классы - решать Вам!
        
                            В основе нашей философии лежит профессиональный подход ко всему: от уровня освещения тренировочных 
                            мест спортсменов до составления индивидуальной программы тренировок и питания. 
                            Наш Фитнес-центр спланирован для комфорта занимающихся - более 4000 кв.м. качественно оснащенных 
                            функциональных зон ждут вас в CAT-FIT. 
                        </td>
                        </tr>
                       </table>
                       <table width="100%" cellspacing="0" cellpadding="0">
                        <tr> 
                         <td><img  class="leftcol" src="img/pull.jpg" width="300" height="400">
                         </td>
                         <td valign="top">
                            <h1>Бассейн</h1>
                            Плавание сказывается положительно на всех системах организма; даже имея противопоказания к нагрузкам 
                            на позвоночник и суставы (протрузии дисков, грыжи, остеохондроз, травмы суставов и др.), вы можете 
                            заниматься в бассейне без вреда для здоровья.
                            Заменив тренажерный зал на дорожку бассейна или дополнив силовые занятия водными, вы только
                             выиграете. Благодаря сопротивляемости воды, любые аэробные тренировки будут приносить лучший 
                             результат, нежели аналогичные в спортзале. Регулярные «заплывы» помогают увеличивают объем 
                             легких, ускоряют процесс насыщения кислородом организма. Всего несколько посещений бассейна 
                             в нашем центре, будь то классы аква-аэробики или интенсивный часовой кроль, повысят общий 
                             тонус организма: улучшится самочувствие, спадет нервное напряжение, тело станет сильнее и 
                             выносливее.
                            Команда опытных тренеров фитнес-клуба CAT-FIT поможет Вам решить любую задачу: снижение 
                            или набор веса, обучение различным техникам плавания, укрепление и проработка мышц.
                        </td>
                        </tr>
                       </table>
            </article>
        </div> 
            <div class="comment">
                <div id="vk_comments"></div>
                <script type="text/javascript">
                    VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
                </script>
            </div>
            <div class="contacts">
                <footer>
                    <h3>Адресс: ул. Пушистиков, дом Желтый</h3>
                    <h3>Тел.: meow, спросить Барсика</h3>
                    <h3>Почта: kitties@mail.ru</h3>
                    <div class="icons">
                        <div class="icon github">
                            <div class="tooltip">Github</div>
                            <a class="git" href="https://github.com/mega-molnia-makvin/cat-fit">
                                <span><i class="fab fa-github"></i></span>
                            </a>
                        </div>
                        <div class="icon vk">
                            <div class="tooltip">VK</div>
                            <a class="viki" href="https://vk.com/bulochka_bao">
                                <span><i class="fa-brands fa-vk"></i></span>
                            </a>                            
                        </div>
                        <div class="icon youtube">
                            <div class="tooltip">YouTube</div>
                            <a class="yt" href="https://www.youtube.com/@yuukasagawa5483">
                                <span><i class="fab fa-youtube"></i></span>
                            </a>                            
                        </div>
                        <div class="icon telegram">
                            <div class="tooltip">Telegram</div>
                            <a class="tg" href="https://t.me/Bukochka_Bao">
                                <span><i class="fa-brands fa-telegram"></i></span>
                            </a>
                            
                        </div>
                    </div>
                </footer>
        
            </div>
                <div data-modal="modal0" class="modal content-hidden">
                        <form class="form" method="post" action="http://localhost:5000/api/user/login">
                            <h3 class="modal__title">Вход</h3>
                            <div class="modal__data">
                                <div class="label">
                                    <input id="log" type="login" required="required" name="login" autocomplete="on"/>
                                    <span>Номер телефона</span>
                                </div>
                                <div class="label">
                                    <input id="pas" type="password" required="required" name="password"/>
                                    <span>Пароль</span>
                                </div>
                                <input type="button" class="modal__submit" onclick="lk()" value="Продолжить">
                                <input type="button" data-modal_butt="modal2" class="modal__close" value="X">
                            </div>
                        </form>
                        <div class="overlay"></div>            
                </div>

        <script src="scripts/main.js"></script>
        <!-- <script src="scripts/music.js"></script> -->
    </body>
</html>