<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="img/minilogo.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
        <link rel="manifest" sizes="32x32" href="img/minilogo.png">
        <title> CAT FIT</title>
        <link rel="stylesheet" href="css/stoffice.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="header">
                <button data-modal_butt="exit" class="header__custom-btn btn-8" >Выйти из ЛК</button>

                <%- include('./partials/nav.ejs') %>


            <div id="header">
                <h1 class="header__title">Личный кабинет</h1>
            </div>
        </div> 

        <article class="about">
            <img src="img/arms.webp" alt="" width="100" class="avatar">
            <div class = "information">         
                <h2> Фамилия</h2>
                <h2> Имя</h2>
                <h2> Отечество</h2>
                <h2> Номер телефона</h2>
                <h2> Номер карты</h2>
                <h2> Срок действия карты</h2>
            </div>
            <!-- 
            <div class = "data">          
                <h2> Зайцев</h2>
                <h2> Иван</h2>
                <h2> Петрович</h2>
                <h2> 89004562345</h2>
                <h2> 1234-5567-8965-2345</h2>
                <h2> до 20 мая 2022 года</h2>
            </div>
        -->
            <h2 class="plan">Расписание</h2>
            <div class="schedule">
                <TABLE BORDER="1" WIDTH=100% BGCOLOR="#CCAA72">
                    <TR BGCOLOR="#C99C52" ALIGN="CENTER">
                    <TD> </TD> <TD>Понедельник</TD> <TD>Вторник</TD>
                    <TD>Среда</TD><TD>Четверг</TD><TD>Пятница</TD>
                    <TD>Суббота</TD><TD>Воскресенье</TD>
                    </TR>
                    <TD>1</TD> <TD></TD>
                    <TD></TD> <TD></TD> <TD></TD>
                    <TD></TD> <TD></TD> <TD></TD>
                    </TR>
                    <TD>2</TD> <TD></TD>
                    <TD></TD> <TD></TD><TD></TD>
                    <TD></TD> <TD></TD> <TD></TD>
                    </TR>
                    <TD>3</TD> <TD></TD>
                    <TD></TD> <TD></TD> <TD></TD>
                    <TD></TD> <TD></TD> <TD></TD>
                    </TR>
                </TABLE>
            </div>
        </article>
            
        <div class="contacts">
            <footer>
                <h3>Адресс: ул. Пушистиков, дом Желтый</h3>
                <h3>Тел.: meow, спросить Барсика</h3>
            </footer>
        </div>
        <script src="./scripts/lk.js"></script>
    </body>
</html>