<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CAT FIT</title>
    <link rel="apple-touch-icon" sizes="180x180" href="img/minilogo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/minilogo.png">
    <link rel="manifest" sizes="32x32" href="img/minilogo.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/timetab.css">
    <link rel="stylesheet" href="css/stoffice.css">
</head>
<body>
    <div class="header">
        <button class="header__custom-btn btn-8" data-modal_butt="modal1" type="submit">Войти в ЛК</button>
        <%- include('./partials/nav.ejs') %>
        <div id="header">
            <h1 class="header__title">Расписание</h1>
        </div>
    </div>
    <div class="block1">
    <article class="about">
        <div class="about__timetable">
            <TABLE BORDER="1" WIDTH=100% BGCOLOR="#CCAA72">
                <TR BGCOLOR="#C99C52" ALIGN="CENTER">
                <TD> </TD> <TD>Понедельник</TD> <TD>Вторник</TD>
                <TD>Среда</TD><TD>Четверг</TD><TD>Пятница</TD>
                <TD>Суббота</TD><TD>Воскресенье</TD>
                </TR>
                <TD>1</TD> 
                <TD>
                  <% if (trainings.length) { %>
                    <% trainings.forEach(({name, time}) => { %>
                        <p> <%= name %> <br> <%= time %>  </p>
                    <% }) %>
                <% } %> 
                </TD>
                <TD></TD> <TD></TD> <TD></TD>
                <TD></TD> <TD></TD> <TD></TD>
                </TR>
                <TD>2</TD> <TD></TD>
                <TD></TD> <TD></TD><TD></TD>
                <TD></TD> <TD></TD> <TD></TD>
                </TR>
                <TD>3</TD> <TD></TD>
                <TD></TD> <TD></TD> <TD></TD>
                <TD></TD> <TD></TD> <TD></TD>
                </TR>
                </TABLE>
        </div>
        <div>
        <h1>Групповые программы</h1>
        
                <p>
                    Групповые программы позволяют достичь любых тренировочных целей, созданы на 
                    основе современных методик и подходят для различного уровня подготовленности.
                    Найдите свой вид групповых занятий и убедитесь, что возможности фитнеса поистине
                     безграничны! Наш Фитнес Клуб отличается своими праКОТическими тренировками :
                </p>
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr> 
                     <td><img  class="leftcol" src="img/yoga1.jpg" width="200" height="300">
                     </td>
                     <td valign="top">
                <h1>YOGA</h1>
                <p>
                    Древняя восточная практика, в основе которой лежит работа с телом и духом в равной мере. 
                    Практика состоит из асан различного уровня сложности (для новичков доступны упрощенные варианты трудных поз),
                     обучения правильному глубокому дыханию и тренировки фокуса внимания на прорабатываемых зонах тела. 
                     Снятие стресса и нервного напряжение станут естественным следствием занятия йогой. 
                     Даже выполняя асаны с позиции новичка, вы увидите пользу йоги: укрепление мышц, тренировка воли и внимания
                      к телу, повышение гибкости, тренировка сердечно-сосудистой системы, укрепление иммунитета, 
                      повышение уверенности. 
                </p>
            </td>
        </tr>
       </table>
       <table width="100%" cellspacing="0" cellpadding="0">
        <tr> 
         <td><img  class="leftcol" src="img/Cycle.jpg" width="200" height="300">
         </td>
         <td valign="top">
                <h1>CYCLE</h1>
                <p>
                    Имитация групповой шоссейной гонки в виде интервальной тренировки на тренажерах, имитирующих спортивный 
                    велосипед. Цель урока -развитие общей аэробной выносливости, улучшение работы дыхательной и 
                    сердечно – сосудистой систем. Нагрузка средней и высокой интенсивности. 
                </p>
            </td>
        </tr>
       </table>
    </table>
    <table width="100%" cellspacing="0" cellpadding="0">
     <tr> 
      <td><img  class="leftcol" src="img/GP.jpg" width="200" height="300">
      </td>
      <td valign="top">
               
                <h1>HULA</h1>
                <p>
                    Во время занятий с обручем происходит укрепление мышц живота. Благодаря тактильному 
                    типу воздействия тренажера выполняется как внутренняя, так и внешняя работа. Внешняя работа схожа с эффектом 
                    массажа и компрессии мышц. Такой тип воздействия включает и ускоряет процесс жиросжигания.
                </p>
            </td>
        </tr>
       </table>
    </table>
               </div> 
    </article>
</div>


    <footer class="contacts">
        <h3>Адресс: ул. Пушистиков, дом Желтый</h3>
        <h3>Тел.: meow, спросить Барсика</h3>
    </footer>
    <div data-modal="modal0" class="modal content-hidden">
        <form class="form" method="post">
            <h3 class="modal__title">Вход</h3>
            <div class="modal__data">
                <div class="label">
                    <input id="log" type="login" required="required" name="login" autocomplete="on"/>
                    <span>Номер телефона</span>
                </div>
                <div class="label">
                    <input id="pas" type="password" required="required" name="password"/>
                    <span>Пароль</span>
                </div>
                <input type="button" class="modal__submit" onclick="lk()" value="Продолжить">
                <input type="button" data-modal_butt="modal2" class="modal__close" value="X">
            </div>
        </form>
        <div class="overlay"></div>            
</div>
    
    <script src="scripts/main.js"></script>
</body>
</html>