<div class="inform">
    <h3>Фитнес-клуб "Cat Fit"</h3>
<h3>Адресс: ул. Пушистиков, дом Желтый</h3>
            <h3>Тел.: meow, спросить<a href="/team"> Барсика </a></h3>
            <h3>Почта: kitties@mail.ru</h3>
</div>
            <div class="icons">
                <div class="icon github">
                    <div class="tooltip">Github</div>
                    <a class="git" href="https://github.com/mega-molnia-makvin/cat-fit">
                        <span><i class="fab fa-github"></i></span>
                    </a>
                </div>
                <div class="icon vk">
                    <div class="tooltip">VK</div>
                    <a class="viki" href="https://vk.com/bulochka_bao">
                        <span><i class="fa-brands fa-vk"></i></span>
                    </a>                            
                </div>
                <div class="icon youtube">
                    <div class="tooltip">YouTube</div>
                    <a class="yt" href="https://www.youtube.com/@yuukasagawa5483">
                        <span><i class="fab fa-youtube"></i></span>
                    </a>                            
                </div>
                <div class="icon telegram">
                    <div class="tooltip">Telegram</div>
                    <a class="tg" href="https://t.me/Bukochka_Bao">
                        <span><i class="fa-brands fa-telegram"></i></span>
                    </a>
                    
                </div>
            </div>