<div data-modal="modal0" class="modal content-hidden">
    <form class="form" method="post" action="/user/login">
        <h3 class="modal__title">Вход</h3>
        <div class="modal__data">
            <div class="label">
                <input id="log" type="login" required="required" name="telephone" autocomplete="on"/>
                <span>Номер телефона</span>
            </div>
            <div class="label">
                <input id="pas" type="password" required="required" name="password"/>
                <span>Пароль</span>
            </div>
            <input type="submit" class="modal__submit" onclick="lk()" value="Продолжить">
            <input type="button" data-modal_butt="modal2" class="modal__close" value="X">
        </div>
    </form>
    <div class="overlay"></div>            
</div>
<div data-modal="modal0" class="modal content-hidden">
    <form class="form" method="post">
        <h3 class="modal__title">Вход</h3>
        <div class="modal__data">
            <div class="label">
                <input id="log" type="login" required="required" name="login" autocomplete="on"/>
                <span>Номер телефона</span>
            </div>
            <div class="label">
                <input id="pas" type="password" required="required" name="password"/>
                <span>Пароль</span>
            </div>
            <input type="submit" class="modal__submit" onclick="lk()" value="Продолжить">
            <input type="button" data-modal_butt="modal2" class="modal__close" value="X">
        </div>
    </form>
    <div class="overlay"></div>            
</div>