<nav class="header__menu header__row">
    <a href="/" >Главная</a>
    <a href="/team" >Наша команда</a>
    <a href="/timetab" >Расписание</a>
    <a href="/card" >Карты</a>
    <div class="animation start-home"></div>
</nav>