<nav class="header__menu header__row">
    <a class="header-fonts" href="/" >Главная</a>
    <a class="header-fonts" href="/team" >Наша команда</a>
    <a class="header-fonts" href="/timetab" >Расписание</a>
    <a class="header-fonts" href="/card" >Карты</a>
    <div class="animation start-home"></div>
</nav>